<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/loginStyle.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>recoveryReaderPassword</title>
    <link rel="shortcut icon" href="img/logo.ico"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div align="right">
    <a href="?lang=en_US">English(US)</a>
    <a href="?lang=zh_CN">简体中文</a>
</div>
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1 th:text="#{recoveryReaderPassword}"></h1>
            <div class="alert-close"> </div>
        </div>
        <form>
            <li>
                <input id="readerName" type="text" class="text" th:placeholder="#{readerName}"><a class=" icon user"></a>
            </li>
            <div class="clear"> </div>
            <li>
                <input id="readerEmail" type="email" th:placeholder="#{readerEmail}"> <a class="email_icon"></a>
            </li>
            <div class="clear"> </div>
            <div class="submit">
                <input type="button" onclick="getEmail()" th:value="#{submit}" >
                <h4><a href="#"></a></h4>
                <div class="clear">  </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="clear"> </div>
<!--- footer --->
<div class="footer">
    <p>Copyright &copy; 2018.</p>
</div>
<!--<table>-->
    <!--<tbody>-->
        <!--<tr>-->
            <!--<td>readerName:</td>-->
            <!--<td>-->
                <!--<input type="text" id="readerName">-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>e-mail:</td>-->
            <!--<td>-->
                <!--<input type="email" id="readerEmail">-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td></td>-->
            <!--<td>-->
                <!--<input type="button" value="submit" onclick="getEmail()">-->
            <!--</td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
</body>
</html>
<script>
    function getEmail() {
        var readerName = document.getElementById("readerName").value;
        var readerEmail = document.getElementById("readerEmail").value;
        $.post("/getEmail",{readerName:readerName,readerEmail:readerEmail},window.location.replace("/timeDown"));
    }
</script>